
    #appliance_factory text {
        fill: #000;
    }

    #arable_farm text {
        fill: #000;
    }

    #assembly_plant text {
        fill: #000;
    }

    #bar_and_section_mill text {
        fill: #000;
    }

    #basic_oxygen_furnace text {
        fill: #000;
    }

    #blast_furnace text {
        fill: #000;
    }

    #body_plant text {
        fill: #000;
    }

    #brewery text {
        fill: #000;
    }

    #builders_yard text {
        fill: #000;
    }

    #carbon_black_plant text {
        fill: #000;
    }

    #cement_plant text {
        fill: #000;
    }

    #chemical_plant text {
        fill: #000;
    }

    #chlor_alkali_plant text {
        fill: #000;
    }

    #cider_mill text {
        fill: #000;
    }

    #clay_pit text {
        fill: #000;
    }

    #coal_mine text {
        fill: #000;
    }

    #coffee_estate text {
        fill: #000;
    }

    #coke_oven text {
        fill: #000;
    }

    #precision_parts_plant text {
        fill: #000;
    }

    #copper_mine text {
        fill: #000;
    }

    #copper_smelter text {
        fill: #000;
    }

    #cryo_plant text {
        fill: #000;
    }

    #dairy text {
        fill: #000;
    }

    #dairy_farm text {
        fill: #000;
    }

    #diamond_mine text {
        fill: #000;
    }

    #dredging_site text {
        fill: #000;
    }

    #elastomer_products_plant text {
        fill: #000;
    }

    #electric_arc_furnace text {
        fill: #000;
    }

    #engine_plant text {
        fill: #000;
    }

    #farm text {
        fill: #000;
    }

    #flour_mill text {
        fill: #000;
    }

    #fish_farm text {
        fill: #000;
    }

    #fishing_grounds text {
        fill: #000;
    }

    #fishing_harbour text {
        fill: #000;
    }

    #food_processor text {
        fill: #000;
    }

    #forest text {
        fill: #000;
    }

    #foundry text {
        fill: #000;
    }

    #fruit_plantation text {
        fill: #000;
    }

    #general_store text {
        fill: #000;
    }

    #glass_works text {
        fill: #000;
    }

    #hardware_store text {
        fill: #000;
    }

    #hotel text {
        fill: #000;
    }

    #herding_coop text {
        fill: #000;
    }

    #integrated_steel_mill text {
        fill: #000;
    }

    #iron_ore_mine text {
        fill: #000;
    }

    #lime_kiln text {
        fill: #000;
    }

    #limestone_mine text {
        fill: #000;
    }

    #liquids_terminal text {
        fill: #000;
    }

    #tracked_machine_factory text {
        fill: #000;
    }

    #manganese_mine text {
        fill: #000;
    }

    #metal_fabricator text {
        fill: #000;
    }

    #nitrate_mine text {
        fill: #000;
    }

    #oil_wells text {
        fill: #000;
    }

    #oil_rig text {
        fill: #000;
    }

    #orchard_piggery text {
        fill: #000;
    }

    #paper_mill text {
        fill: #000;
    }

    #peatlands text {
        fill: #000;
    }

    #petrol_pump text {
        fill: #000;
    }

    #phosphate_mine text {
        fill: #000;
    }

    #pipework_fabricator text {
        fill: #000;
    }

    #plate_mill text {
        fill: #000;
    }

    #port text {
        fill: #000;
    }

    #power_plant text {
        fill: #000;
    }

    #potash_mine text {
        fill: #000;
    }

    #concrete_plant text {
        fill: #000;
    }

    #pyrite_mine text {
        fill: #000;
    }

    #pyrite_smelter text {
        fill: #000;
    }

    #quarry text {
        fill: #000;
    }

    #ranch text {
        fill: #000;
    }

    #rubber_plantation text {
        fill: #000;
    }

    #sawmill text {
        fill: #000;
    }

    #scrap_yard text {
        fill: #000;
    }

    #slag_grinding_plant text {
        fill: #000;
    }

    #soda_ash_mine text {
        fill: #000;
    }

    #stockyard text {
        fill: #000;
    }

    #strip_mill text {
        fill: #000;
    }

    #supply_yard text {
        fill: #000;
    }

    #timber_yard text {
        fill: #000;
    }

    #trading_post text {
        fill: #000;
    }

    #tube_and_pipe_mill text {
        fill: #000;
    }

    #tyre_plant text {
        fill: #000;
    }

    #vehicle_distributor text {
        fill: #000;
    }

    #vineyard text {
        fill: #000;
    }

    #wharf text {
        fill: #000;
    }

    #wire_rod_mill text {
        fill: #000;
    }



    #acid ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #aggregates ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #alcohol ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #aluminium ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #ammonia ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #beans ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #building_materials ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #carbon_black ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #cassava ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #cast_iron ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #cement ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #chemicals ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #chlorine ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #clay ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #cleaning_agents ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #coal ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #coal_tar ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #coffee ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #coke ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #copper ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #copper_ore ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #diamonds ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #edible_oil ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #electrical_parts ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #engineering_supplies ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
            fill: #C5E5F4;
            stroke: #C5E5F4;
        
    }

    #explosives ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #farm_supplies ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
            fill: #C5E5F4;
            stroke: #C5E5F4;
        
    }

    #ferroalloys ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #fertiliser ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #fish ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #food ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #forgings_and_castings ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #fruits ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #glass ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #goods ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #grain ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #hardware ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #iron_ore ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #kaolin ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #livestock ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #limestone ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #logs ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #lye ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #mail ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #maize ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #manganese ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #milk ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #nitrates ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #nitrogen ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #nuts ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #oil ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #oxygen ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #paints_and_coatings ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #paper ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #passengers ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #peat ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #petrol ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #phosphate ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #pig_iron ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #pipework ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #potash ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #concrete_products ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #pumps_and_valves ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #pyrite_ore ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #quicklime ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #rebar ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #rubber ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #sand ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #salt ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #scrap_metal ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #seals_belts_and_hoses ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
            fill: #C5E5F4;
            stroke: #C5E5F4;
        
    }

    #slag ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #soda_ash ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_billets_and_blooms ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_ingots ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_merchant_bar ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_pipe ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_sections ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_sheet ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_slab ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_tube ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #steel_wire_rod ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #sulphur ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #timber ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #tyre_cord ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #tyres ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #vehicle_bodies ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #vehicle_engines ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #vehicle_parts ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #vehicles ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #welding_consumables ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
            fill: #C5E5F4;
            stroke: #C5E5F4;
        
    }

    #wool ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }

    #zinc ellipse {
        // fill: #D8DBE2;
        stroke-width: 3;
        // stroke: #D8DBE2;
        
    }


g.edge path {
    // stroke: black;
    // stroke-width: 3;
}
g.edge:hover path {
    stroke: #105799;
    stroke-width: 6;
}
g.edge:hover polygon {
    fill: #105799;
    stroke: #105799;
    stroke-width: 6;
}
